btn.home-container{
    width: 100vw;
}

.top-bar{
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 100 !important;
    background-color: #151515b4;
    backdrop-filter: blur(10px);
    position: fixed;
}

.top-bar img{
    width: 250px;
    height: 60px;
    z-index: 100 !important;
}

.banner-section{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filter-image{
    background-color: var(--filter-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.banner-section img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.banner-section ul{
    position: absolute;
    top: calc(10rem + 100px);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: 0 1rem;
}

.banner-section ul li h2{
    color: white;
    text-align: center;
    font-size: 56px;
    font-weight: 600;
}

.banner-section ul li .btn-box{
    margin-top: 8rem;
}

.btn-box{
    font-size: calc(18px + 1vh);
    display: inline-block;
    width: fit-content;
    min-width: 270px;
    padding: 1.5rem 3rem;
    position: relative;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0 100%);
    text-align: center;
    font-weight: 400;
    background-color: #151515;
    backdrop-filter: blur(400px);
    color: #ffffff;
    transition: all 0.5s;
}

.btn-box:hover{
    background-color: #ffffff;
    color: #151515;
    scale: 1.03;
}

.section{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(56, 39, 22);
}

.section-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: calc(100% - 6rem);
    max-width: 1140px;
    /* padding: 3rem; */
    margin: 3rem;
    position: relative;
    gap: 1.5rem; 
}

.article-menu img {
    width: 50%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 8px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.article-menu ul {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.section article h2, .section article p{
    color: #fff;
}

.section article h2{
    font-weight: 500;
    font-size: 48px;
}

.section article p{
    font-weight: 100;
    font-size: 16px;
}

.ubicacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    gap: 1.5rem;
}

.google-map {
    width: 50%;
    position: relative;
    display: flex;
}

.google-map iframe {
    height: 350px;
    width: 100%;
    border-radius: 8px;
}

.ubicacion ul {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.delivery{
    background-color: #e7e7e7;
}

.delivery article p, .delivery article h2{
    color: black;
}

.article-delivery ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    position: relative;
    gap: 2rem; 
}

.article-delivery ul li p{
    text-align: center;
}

.article-delivery ul .btn-box:hover{
    background-color: #151515;
    color: #fff;
    scale: 1.03;
}

/* ************** CARD STYLES ************** */
.promos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promos .section-container{
    width: 100%;
    overflow: hidden;
    flex-direction: column;
}

.scroller{
    width: 100%;
}

.images-scroller{
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow: hidden;
    animation: scroll 25s linear infinite;
}

.images-scroller.paused {
    animation-play-state: paused;
}

.card-image{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: all .5s;
}

.active{
    width: 500px;
    height: 350px;
    transition: all .5s;
}

/* RESPONSIVIDAD */

@keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  @media screen and (max-width: 1226px) {
    .promos .section-container{
        padding: 0 3rem;
    }
  }


@media screen and (max-width: 769px) {
    .banner-section ul li h2,
    .section article h2 {
        font-size: 36px;
    }

    .section-container{
        flex-direction: column;
        width: 100%;
    }

    .active{
        width: 350px;
        height: 350px;
        transition: all .5s;
    }

    .images-scroller.paused {
        animation-play-state: running;
    }

    .btn-box{
        width: calc(100vw - 6rem);
        clip-path: none;
        border-radius: 8px;
    }

    .article-menu img {
        width: 100%;
        clip-path: none;
    }

    .article-menu ul, .ubicacion ul {
        width: 100%;
        gap: 16px;
    }

    .article-menu ul .btn-box, .ubicacion ul .btn-box{
        width: 100%;
        clip-path: none;
        border-radius: 8px;
    }
    .google-map {
        width: 100%;
    }
}

@media screen and (max-width: 426px) {
    .section-container, 
    .ubicacion, 
    .article-delivery ul,
    .promos .section-container{
        padding: 16px;
        margin: 0;
    }

    .promos .section-container{
        margin: 0;
    }

    .btn-box{
        font-size: 24px;
    }

    .section article p{
        font-size: 14px;
      }
}

@media screen and (max-width: 321px) {
    .banner-section ul li h2,
    .section article h2 {
        font-size: 24px;
    }

    .btn-box{
        font-size: 16px;
    }
}