* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .5s;
}

:root{
    --main-color: #722d14;
    --main-bg-color: #eee;
    --alt-bg-color: #fdeec9;
    --main-highlight-bg: #fdeec9;
    --alt-highlight-bg: #29510F;
    --light-color-text: #eee;
    --alt-color-text: #878787;

    --filter-color: #1515159a;
}

html{
    overflow-x: hidden;
    background-color: var(--main-bg-color);
}

body {
    min-height: 100vh;
}

a{
    text-decoration: none;
}

ul, li, a{
    text-decoration: none;
    list-style: none;
}

button{
    border: none;
    cursor: pointer;
}
