@import url('https://fonts.googleapis.com/css2?family=Belgrano&family=Merriweather:wght@100;400;700;900&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --main-color: #722d14;
    --main-bg-color: #eee;
    --alt-bg-color: #fdeec9;
    --main-highlight-bg: #fdeec9;
    --alt-highlight-bg: #29510F;
    --light-color-text: #eee;
    --alt-color-text: #878787;

    --filter-color: #15151557;

    --str-font: "Rubik", sans-serif;
    /* --str-font: 'Secular One', sans-serif; */
    --text-font: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s;
    font-family: var(--str-font);
}

html {
    overflow-x: hidden;
    background-color: var(--main-bg-color);
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    font-family: var(--str-font);
}

ul,
li,
a {
    text-decoration: none;
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

h3 {
    color: #fff;
    font-weight: 100;
    font-size: 14px;
}

p {
    font-weight: 300;
    font-size: 14px;
    font-family: var(--text-font);
}


h1, h2{
    font-weight: 100;
    font-family: var(--str-font);
}

/* 
font-family: 'Belgrano', serif;
font-family: 'Merriweather', serif;
font-family: 'Secular One', sans-serif;
 */