/* ************** Navbar Style ************** */
.nav-container {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 1.5rem;
    z-index: 100 !important;
    background-color: #151515bd;
    backdrop-filter: blur(800px);
}

.navbar {
    width: 100%;
}

.nav-link {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: var(--light-color-text);
    position: relative;
}

.nav-link:hover{
    color: var(--alt-bg-color);
}

.nav-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3px;
    width: 100%;
    background-color: var(--alt-bg-color);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

.nav-link:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler {
    border: none;
    border-radius: none;
}

.navbar-toggler-icon {
    background-image: url('../images/burgerMenu.svg');
}

/* ************** HIGHLIGHT TEXT ************** */

.highlight {
    font-size: calc(20px + 1vh);
    display: inline-block;
    width: fit-content;
    padding: 0 2rem;
    position: relative;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0 100%);
    text-align: center;
    font-weight: 600;
}

/* ************** CARD STYLES ************** */

.card-container {
    width: 240px;
    height: 300px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.493);
    backdrop-filter: blur(400px);
    border-radius: 2rem;
}

.card-container h1 {
    font-size: 20px;
    margin: 0;
}

.card-container p {
    color: var(--alt-color-text);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.card-image {
    width: 130px;
    height: 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* ************** SLICE STYLES ************** */

.slice-container {
    width: 100%;
    height: 50vh;
}

.image-slice {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
}

.image-slice h1 {
    position: relative;
    color: var(--light-color-text);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 60px;
}

.image-slice h1::after {
    content: '';
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--light-color-text);
}

.filter-slice {
    width: 100%;
    height: 100%;
    background-color: var(--filter-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slice-container:hover .image-slice{
    background-size: 200%;
}

/* ************** FOOTER STYLES ************** */

.footer-container {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--alt-bg-color);
}

.footer-container ul {
    margin-bottom: 0;
    color: var(--main-color);
}

.logo-div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.logo-div img {
    width: 100%;
}

.logo-div p {
    text-align: center;
    font-size: 12px;
    color: var(--main-color);
}

.footer-link {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.location-div {
    width: 50%;
    padding: 1rem;
}

.location-div p {
    text-align: start;
    font-size: 12px;
    color: var(--main-color);
}

.social-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icons a {
    color: var(--main-color);
}


/* ************** RESPONSIVE DESIGN ************** */

/* ************** RESPONSIVE NAVBAR ************** */

@media screen and (min-width: 1024px) {
    .nav-container {
        height: 60px;
        position: absolute;
        padding: 0 1.5rem;
    }

    .navbar-nav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .nav-link {
        font-size: 18px;
    }
}

/* ************** RESPONSIVE SLICE ************** */
@media screen and (min-width: 1024px) {
    .slice-container {
        width: 50vw;
        height: 100vh;
    }
}

@media screen and (min-width: 1024px) {
    .footer-container {
        flex-wrap: nowrap;
    }

    .footer-link, .location-div, .social-div, .logo-div{
        width: 25%;
    }

    .social-div, .logo-div{
        margin: auto;
    }

    .footer-container a:hover{
        cursor: pointer;
    }
}

.logo-div img:hover{
    transform: scale(1.1);
}