.contact-sc-container {
    padding: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.contact-item {
    width: 80%;
    max-width: 600px;
    padding: 2rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contact-icon {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.contact-item p {
    color: var(--main-color);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.contact-item p article .highlight {
    font-size: 16px;
}

@media screen and (min-width: 1024px) {
    .contact-container {
        width: 100vw;
        height: 100vh;
        display: flex;
    }

    .contact-sc-container {
        width: 50vw;
        height: 100vh;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        padding: 2rem calc(.5rem + 2vw);
        gap: 0rem;
    }

    .contact-item {
        width: 300px;
        height: calc(220px + 2vh);
        justify-content: center;
    }

    .contact-icon {
        width: 50px;
        height: 50px;
    }

    .contact-item:nth-child(2) {
        align-self: flex-end;
    }

    .contact-item p {
        font-size: calc(8px + 1vh);
    }
}

.contact-item:hover{
    transform: scale(1.2);
}