.services-container{
    position: relative;
    width: 100%;
}

.services-details{
    width: 100%;
    min-height: 50vh;
    padding: 2rem;
    background-color: transparent;
}

.services-details p{
    color: var(--main-color);
    margin-bottom: 5px;
}

.services-details h1{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
    line-height: 60px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.services-cards{
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: var(--main-bg-color);
}

@media screen and (min-width: 1024px){
    .services-container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row-reverse;
    }
    
    .services-cards{
        gap: 0rem;
    }

    .services-details{
        width: 50vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
    .services-cards .card-container{
        width: calc(150px + 5vw);
        height: calc(140px + 5vh);        
        margin-bottom: .7rem;
    }

    .services-cards .card-container .card-image{
        width: calc(8px + 1.5vw);
        height: calc(8px + 1.5vw);
    }

    .services-cards .card-container h1 {
        height: 3rem;
        font-size: 14px;
        margin: 0;
    }

    .services-cards .card-container p {
        font-size: 12px;
    }

    .services-cards .card-container:hover{
        transform: scale(1.05);
    }

}